.change-wrapper {
  margin-top: 45px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.change-block {
  background: rgba(255, 255, 255, 0.72);
  border-radius: 30px;
  padding: 40px 17px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 3px solid #F9F9F950;
  backdrop-filter: blur(8.41536px);

  &__img {
    width: 43px;
    height: 43px;
    margin-bottom: 12px;
  }

  &__title {
    text-align: center;
    max-width: 245px;
    margin-bottom: 15px;
  }

  &__span {
    font-weight: 700;
    font-size: 28.5981px;
    line-height: 34px;
    letter-spacing: 0.314579px;
    color: $blue;
  }

  &__tariff {
    font-weight: 600;
    font-size: 13.4579px;
    line-height: 140%;
    color: $text;
    margin-bottom: 6px;
  }

  &__bold {
    font-weight: 600;
    font-size: 13.4579px;
    line-height: 140%;
    color: $text;
    opacity: 0.5;
    margin-bottom: 30px;
  }

  &__edit {
    background: $blue;
    border-radius: 10px;
    width: 100%;
    padding: 10.5px 0;
    font-weight: 600;
    font-size: 14.2991px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
    &:hover{
      color: #FFFFFF;
    }

  }

  &__cancel {
    font-weight: 600;
    font-size: 14.2991px;
    line-height: 19px;
    padding: 10.5px 0;
    text-align: center;
    background-color: transparent;
    letter-spacing: -0.343178px;
    color: #0C2137;
    opacity: 0.25;
    &:hover{
      color: #0C2137;
    }
  }
}

.change-line {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 6px;

  &__text {
    font-weight: 400;
    font-size: 13.4579px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: $text;
    opacity: 0.5;
  }

  &__date {
    font-weight: 600;
    font-size: 13.4579px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: $text;
    opacity: 0.5;
  }
}

.icon-box {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  margin-bottom: 15px;

  &__icon {
    fill: #007AFF;
    width: 80px;
    height: 90px;

    &--2 {
      width: 100px;
      height: 90px;
    }
  }
}
@media (min-width: 320px) and (max-width: 359px) {
  .change-block {
    padding: 32px 14px 25px;
    &__img {
      width: 38px;
      height: 38px;
    }

    &__title {
      font-size: 25px;
      line-height: 31px;
    }

    &__span {
      font-size: 25px;
      line-height: 31px;
    }

    &__tariff {
      font-size: 12px;
      line-height: 140%;
    }

    &__bold {
      font-size: 12px;
      line-height: 140%;
    }

    &__edit {
      font-size: 14px;
      padding: 8px 0;


    }

    &__cancel {
      font-size: 14px;
      padding: 8px 0;
    }
  }

  .change-line {
    &__text {
      font-size: 12px;
      line-height: 140%;
    }

    &__date {
      font-size: 12px;
      line-height: 140%;
    }
  }

  .icon-box {
    &__icon {
      fill: #007AFF;
      width: 65px;
      height: 80px;

      &--2 {
        width: 100px;
        height: 80px;
      }
    }
  }
}