.container{
  display: grid;
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;

}
.index-main{
  .container{
    display: grid;
    width: 100%;
    height: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }
}
.wrapper{
  width: 100%;
  height: 100%;
  &--index{
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(181.88deg, #FFFFFF 4.2%, rgba(255, 255, 255, 0) 14.65%), linear-gradient(155.04deg, #F3F4F4 19.3%, rgba(253, 253, 253, 0.648933) 79.48%, #FFFFFF 84.5%);
  }
  &--subs{
    width: 100%;
    height: 100%;
    background-image: none;
    overflow-x: hidden;
    &::after{
      content: '';
      position: absolute;
      pointer-events: none;
      width: 268px;
      height: 571px;
      left: 67px;
      top: 126px;
      background: #E9EAEC;
      opacity: 0.7;
      z-index: -1;
      filter: blur(67.2897px);
    }
    &::before{
      content: '';
      position: absolute;
      pointer-events: none;
      z-index: -1;
      width: 195px;
      height: 584px;
      left: -98px;
      top: 166px;
      background: #E9EAEC;
      opacity: 0.7;
      filter: blur(67.2897px);
    }
  }
  &--no-bg{
    width: 100%;
    height: 100%;
    background-image: none;
  }
  &--bg--2{
    background-image: none;
    &::after{
      content: '';
      position: absolute;
      pointer-events: none;
      z-index: -1;
      width: 312px;
      height: 130px;
      left: 194px;
      top: 28px;
      background: #E9EAEC;
      opacity: 0.39;
      filter: blur(67.2897px);
    }
    &::before{
      content: '';
      position: absolute;
      pointer-events: none;
      z-index: -1;
      width: 195px;
      height: 584px;
      left: -98px;
      top: 166px;
      background: rgba(233, 234, 236, 0.66);
      opacity: 0.7;
      filter: blur(67.2897px);
    }
  }
  &--screen{
    &::after{
    content: '';
    position: absolute;
    width: 90px;
    height: 90px;
    right: -20px;
    top: 35px;
    background: #CDE5FF;
    opacity: 0.75;
    filter: blur(67.2897px);
    }
  }
}
.main{
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  overflow-x: hidden;
}
 html, body{
  overflow-x: hidden;
}
.main-normal{
  width: 100%;
  height: auto;
  overflow-x: hidden;
}
.fade{
  background: rgba(12, 33, 55, 0.5);
  backdrop-filter: blur(21.028px);
}