@media (min-width: 20em){

.main-container {
      width: 100%;
      &__subtitle {
        font-weight: 400;
        font-size: 0.563rem;
        color: #000000;
        opacity: 0.5;
        background: #FFFFFF;
        width: fit-content;
        position: absolute;
        padding: 0.25em 0.6375em;
        left: 0;
        top: 0.3125em;
        border-radius: 0 1.25em 1.25em 0;
      }


      .swiper-pagination-bullet {
        background: #0C2137;
        opacity: 0.1;
        width: 0.3125em;
        height: 0.3125em;
      }

      .swiper-pagination-bullet-active {
        background: #0C2137;
        opacity: 1;
        width: 0.3125em;
        height: 0.3125em;
      }

      .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 14px;
        left: 0;
        width: 100%;
      }
    }
    .index-grid{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(3.875em, auto));
      grid-auto-flow: row;
      grid-gap: 0.875em;
      padding: 0  0.4375em;
      justify-items: center;
      margin-top: 1.875em;
      margin-bottom: 0.75em;
        min-height: 8.625em;
    }
    .profile-img{
      display: flex;
      justify-content: center;
      width: 100%;

      padding: 0.42em 0.7em 0;
    }
    .index-block {
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.72);
      border: double 0.166875em transparent;
      background-image: linear-gradient(white, white), radial-gradient(circle at top , #FFFFFF,#FFFFFF00);
      background-origin: border-box;
      background-clip: content-box, border-box;
      border-radius: 1.25em;
      position: relative;

      &__img {
        width: 100%;
        height: auto;
        border-radius: 1.25em;
        object-fit: cover;
      }

      &__text {
        font-weight: 600;
        font-size: 0.5625em;
        color: #0C2137;
        opacity: 0.5;
        padding-top: 0.34375em;
        padding-bottom: 0.41875em;

      }

      &__span {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 0.25em 0.459em;
        font-weight: 600;
        font-size: 0.75em;
        color: #FFFFFF;
        background: #D02929;
        top: -0.5em;
        right: -0.375em;
      }
    }
    .slider-container {
      background-color:rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(0.525em);
      border-radius: 1.875em;
      width: calc(100vw - 0.5625em * 2);
      position: relative;
      border: double 0.166875em transparent;
      background-image: linear-gradient(rgba(255, 255, 255, 0.72), rgba(255, 255, 255, 100%)), radial-gradient(circle at top ,#FFFFFF, #FFFFFF00);
      background-origin: border-box;
      background-clip: content-box, border-box;

      &__text {
        font-weight: 700;
        font-size: 1.0625em;
        text-align: center;
        color: $text;
        margin-bottom: 0.625em;
      }
    }
    .logo-block {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.5em;
      padding-right: 0.5em;
      margin-top: 1.25em;

      &__title {
        font-weight: 600;
        font-size: 0.6875em;
        color: #0C2137;

        text-transform: uppercase;
      }

      &__icon {
        width: 0.625em;
        height: 0.8125em;
        fill: #0C2137;
        margin-right:  0.3125em;
      }
    }
    .slider-wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, minmax(3.275em, max-content));
      grid-gap:  0.21875em;
      grid-auto-flow: row;
      padding: 1em;
      margin-bottom: 1.25em;
    }

    .slider-link {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 1.25em;
      &__img {
        width: 100%;
        border-radius: 1.25em;
        filter: drop-shadow( 0.0625em  0.25em 0.5625em rgba(12, 33, 55, 0.3));

        object-fit: cover;
      }

      position: relative;
      z-index: -1;

      &::after {
        content: none;
      }

      &__icon {
        width: 0.8em;
        height: 0.8em;
        fill: #F5FAFF;
        overflow: initial;
        margin-right: 0.125em;
      }

      &__img {
        filter: drop-shadow(0.0625em 0.25em  0.5625em rgba(12, 33, 55, 0.3));
        border-radius: 1.0625em;


      }

      &__span {
        position: absolute;
        width: 55%;
        height: 2.55em;
        display: flex;
        align-items: baseline;
        justify-content: center;
        font-weight: 600;
        font-size:  0.625em;
        padding: 0.155em 0.9375em 0;
        color: #F5FAFF;
        z-index: -1;
        top: -1.1em;
        margin: 0 auto;
        left: 0;
        right: 0;
        border-radius: 0.6875em;

        &--first {
          background: linear-gradient(315.87deg, #039CE2 1.48%, #242CF0 47.66%, #AD1CE3 72.67%, #E40B7F 100%);
        }

        &--second {
          background: $text;
        }

        &--third {
          background: #7D8C9B;
        }
      }
    }
}

