.films-container{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.films-wrap{
  width: 100%;
  display: grid;
  &__title{
    letter-spacing: 0.314579px;
    color:$white;
    margin-bottom: 6px;
    &--screen{
      min-height: 60px;
      margin-bottom: 25px;
      max-width: 225px;
    }
  }
  &--screen{
    border-radius: 14px;
    grid-template-rows: auto;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(17, 17, 17, 0.5);
      backdrop-filter: blur(20px);
      border-radius: 14px;
    }
  }
  &__img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    object-fit: cover;
    &--2{
      border-radius: 0 0 14px 14px;
      z-index: -1;
    }
  }
}

.buttons-group{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px;
  &__btn{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(58, 58, 58, 0.5);
    border-radius: 8.41121px;
  }
  &__icon{
    fill: $white;
    &--1{
      width: 11px;
      height: 19px;
    }
    &--2{
      width: 16px;
      height: 19px;
    }
    &--3{
      width: 17px;
      height: 19px;
    }
  }
}
.buttons-box{
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
}
.film-title{
  margin-bottom: 15px;
}
.bottom-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  padding: 16px;
  z-index: 1;
  &--margin{
    margin-top: 200px;
    &::after{
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 0 0 14px 14px;
      z-index: -1;
      background-image: url("../img/film-icon.png");
      background-repeat: no-repeat;
      background-size: cover;

    }
  }
  &__img{
    position: absolute;
    border-radius: 16px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    z-index: 2;
    top: 15px;
    right: 15px;
  }
}
.rating-wrap{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 12px;
  padding: 5px 8.5px;
  background: rgba(58, 58, 58, 0.5);
  border-radius: 30.2804px;
  margin-bottom: 6px;
  &--no-bg{
    background: transparent;
    padding: 0;
  }
}
.rating-block{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 5px;
  &--gap{
    grid-column-gap: 10px;
  }

  &__span{
    font-weight: 600;
    font-size: 11.7757px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    color: $white;
    background: #1D7D2C;
    border-radius: 30.2804px;
    letter-spacing: -0.02em;
    padding: 2px 5px;
    width: fit-content;
  }
  &__text{
    font-weight: 400;
    font-size: 13.4579px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    opacity: 0.5;
  }
}
.reaction-wrap{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 5px;
  align-items: center;
  margin-bottom: 12px;
  &--screen{
    display: flex;
    align-items: center;
    grid-column-gap: 5px;
    margin-bottom: 15px;

  }
}
.reaction-block {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border: 0.841121px solid #E6EFFA;
  border-radius: 16px;
  width: fit-content;
  &--2{
    display: flex;
    padding: 3px 8px;
  }
  &__img{
    width: auto;
    height: 24px;
    margin-right: 5px;
    &:last-child{
      margin-right: 0;
    }
  }
}
.reaction-btn{
  background-color: transparent;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 5px;
  align-items: center;
  padding: 2px 8px;
  &__text{
    font-weight: 600;
    font-size: 11px;
    color: #007AFF;
  }
  &__icon{
    width: 15px;
    height: 15px;
    fill: #007AFF;
  }
}
.date-wrap{

}
.date-block{
  display: flex;
  align-items: center;
  word-spacing: 2px;
  margin-bottom: 10px;
 &__text{
   font-weight: 400;
   font-size: 14.2991px;
   line-height: 19px;
   letter-spacing: -0.343178px;
   color: #FFFFFF;
 }
  &__dots{
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 17px;
  }
}
.subtitle-wrap{
  margin-bottom: 12px;

}
.subtitle-block{
  &__text{
    font-weight: 400;
    font-size: 14.2991px;
    line-height: 19px;
    letter-spacing: -0.343178px;
    color: #FFFFFF;
    opacity: 0.5;
  }
}
.share-buttons{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr auto;
  grid-column-gap: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.share-open{
  background: #1D7D2C;
  border-radius: 13.4579px;
  padding: 13px 17px;
  width: 100%;
  font-weight: 600;
  font-size: 14.2991px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.343178px;
  color: #FFFFFF;
}
.share-trailer{
  background: #717579;
  border-radius: 13.4579px;
  padding: 12px 17px;
  width: 100%;
  font-weight: 600;
  font-size: 14.2991px;
  display: grid;
  grid-template-columns: 20px 1fr;
  letter-spacing: -0.343178px;
  align-items: center;
  grid-column-gap: 3px;
  color: #FFFFFF;
  &__icon{
    width: 18px;
    height: 16px;
    fill: $white;
  }
}
.share-fav{
  background: #717579;
  border-radius: 13.4579px;
  padding: 11px 17px;
  position: relative;
  width: 40px;
  height: 40px;
  &::after {
    position: absolute;
    left: 32%;
    top: 13px;
    content: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M1.22258 13.2769C1.55608 13.2769 1.77457 13.1102 2.25181 12.6445L4.44825 10.4595C4.477 10.4365 4.523 10.4365 4.55175 10.4595L6.74819 12.6445C7.23118 13.1102 7.43818 13.2769 7.77742 13.2769C8.28915 13.2769 8.61115 12.9205 8.61115 12.357V2.28897C8.61115 1.116 7.97866 0.477768 6.81719 0.477768H2.18281C1.02134 0.477768 0.388855 1.116 0.388855 2.28897V12.357C0.388855 12.9205 0.716596 13.2769 1.22258 13.2769ZM1.82632 11.1725C1.75157 11.2415 1.65957 11.2185 1.65957 11.1092V2.39247C1.65957 1.96123 1.87232 1.75424 2.30356 1.75424H6.69644C7.12768 1.75424 7.34043 1.96123 7.34043 2.39247V11.1092C7.34043 11.2185 7.25418 11.2415 7.17368 11.1725L4.93124 8.9933C4.6495 8.72306 4.3505 8.72306 4.06876 8.9933L1.82632 11.1725Z' fill='white'/%3E%3C/svg%3E");
    width: 15px;
    height: 19px;
  }
  &--active {
    &::after {
      position: absolute;
      content: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22258 13.2769C1.55608 13.2769 1.77457 13.1102 2.25181 12.6445L4.44825 10.4595C4.477 10.4365 4.523 10.4365 4.55175 10.4595L6.74819 12.6445C7.23118 13.1102 7.43818 13.2769 7.77742 13.2769C8.28915 13.2769 8.61115 12.9205 8.61115 12.357V2.28897C8.61115 1.116 7.97866 0.477768 6.81719 0.477768H2.18281C1.02134 0.477768 0.388855 1.116 0.388855 2.28897V12.357C0.388855 12.9205 0.716596 13.2769 1.22258 13.2769Z' fill='white'/%3E%3C/svg%3E%0A");
      width: 15px;
      height: 19px;
    }
  }
}
.film-except{
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-column-gap: 10px;
  align-items: flex-end;
  &__text{
    font-weight: 400;
    font-size: 14.2991px;
    line-height: 19px;
    letter-spacing: -0.343178px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #FFFFFF;
    &--active{
      height: auto;
      -webkit-line-clamp: inherit;
      overflow: visible;
    }
  }
  &__btn{
    font-weight: 700;
    font-size: 14.2991px;
    line-height: 19px;
    background-color: transparent;
    border: none;
    letter-spacing: -0.343178px;
    color: #007AFF;
    span:first-child{
      display: none;
    }
    span:last-child{
      display: block;
    }
    &--active{
      span:first-child{
        display: block;
      }
      span:last-child{
        display: none;
      }
    }
  }
}
.similar-wrap{
  margin-bottom: 30px;
&__title{
  font-style: normal;
  font-weight: 700;
  font-size: 20.1869px;
  color: $text;
  margin-bottom: 15px;
}
}
.similar-container{
  width: calc(360px - 1em*2);
}
.similar-wrapper{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
}
.similar-box{
  display: flex;
  flex-direction: column;

}
.similar-block{
  display: flex;
  flex-direction: column;
  &:first-child{
    margin-bottom: 10px;
  }
  &__img{
    width: 75px;
    height: 75px;
    border-radius: 13.4579px;
    filter: drop-shadow(1px 4px 9px rgba(12, 33, 55, 0.3));
    margin-bottom: 5px;
  }
  &__text{
    font-weight: 500;
    font-size: 11.7757px;
    line-height: 125%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #0C2137;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.actors-wrap{
  display: flex;
  flex-direction: column;
  width: calc(360px - 14px*2);
  margin-bottom: 30px;
  &__title{
    margin-bottom: 15px;
  }
}
.actors-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  &__img{
    width: 75px!important;
    height: 100px!important;
    filter: drop-shadow(1px 4px 9px rgba(12, 33, 55, 0.3));
    border-radius: 13.4579px;
    margin-bottom: 5px;
    &--slider{
      width: 46px!important;
      height: 62px!important;
      filter: none;
    }
  }
  &__title{
    font-weight: 600;
    font-size: 13.4579px;
    line-height: 140%;
    width: min-content;
    text-align: left;
    letter-spacing: -0.02em;
    color: $text;
    margin-bottom: 2px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    &--slider{
      font-weight: 600;
      font-size: 8px;
      line-height: 130%;
      letter-spacing: -0.02em;
      color: #0C2137;
    }
  }
  &__subtitle{
    font-weight: 400;
    font-size: 8.41121px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: $text;
    opacity: 0.5;
    &--slider{
      font-weight: 400;
      font-size: 8px;
      line-height: 130%;
      letter-spacing: -0.02em;
      color: #0C2137;
      opacity: 0.5;
      width: min-content;
      text-align: left;
    }
  }
}
.reviews-wrap{
  display: flex;
  flex-direction: column;
  width: calc(360px - 14px*2);
  margin-bottom: 70px;
  &__title{
    margin-bottom: 15px;
  }
}
.reviews-block{
  display: flex;
  flex-direction: column;
  padding: 17px 17px 10px;
  background: rgba(255, 255, 255, 0.72);
  border: 0.841121px solid #E6EFFA;
  backdrop-filter: blur(16.8224px);
  border-radius: 13.4579px;
  &__text{
    font-weight: 400;
    font-size: 13.4579px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: $text;
    opacity: 0.5;
    text-align: left;
  }
}
.reviews-box{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  &__img{
    width: 47px!important;
    height: 47px!important;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
  }
  &__name{
    font-weight: 600;
    font-size: 13.4579px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: $text;
  }
}
.results-wrapper{
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
.results-header{
  width: 100%;
  grid-area: header;
  background: rgba(245, 245, 245, 0.8);
  backdrop-filter: blur(33.6449px);
  border-radius: 0px 0px 20.1869px 20.1869px;
  padding: 17px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.results-block{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  &__img{
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 13.4579px;
    margin-right: 10px;

  }
  &__text{
    font-weight: 400;
    font-size: 14.2991px;
    line-height: 19px;
    letter-spacing: -0.343178px;
    color: #0C2137;
  }
}
.results-main{
  grid-area: main;
  width: 100%;
  display: grid;
  padding: 30px 20px;
  overflow-x: scroll;
  p{
    color: $text;
  }
}
.results-footer{
  grid-area: footer;
  display: grid;
  margin-top: 65px;
}
.results-footer-btn{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-column-gap: 5px;
  margin-bottom: 45px;
  background-color: transparent;
  position: relative;
  &__icon{
    width: 17px;
    height: 19px;
    fill: #0C2137;
    opacity: 0.5;
  }
  &__text{
    font-weight: 400;
    font-size: 14.2991px;
    line-height: 19px;
    color: #0C2137;
    opacity: 0.5;
  }
}
.results-wrap{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-gap: 5px;
}
.results-dropdown{
  background: #1C1C1E;
  padding: 7.5px 14px;
  border-radius: 6.72897px;
  width: fit-content;
  margin: 0 auto 15px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
  &--active{
    display: flex;
    opacity: 1;
    transition: opacity 0.5s;

  }
  &::after{
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid #1C1C1E;
    bottom: -19px;
    left: 85px;
  }
  &__text{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5px;
    align-items: center;
    font-weight: 400;
    font-size: 12.6168px;
    line-height: 17px;
    margin-right: 5px;
    letter-spacing: -0.201869px;
    color: #FFFFFF;
  }
  &__img{
    width: auto;
  }
}
.reaction-box{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 5px;
}
.reaction-item{
  background: #FFFFFF;
  border: 0.747664px solid #E6EFFA;
  border-radius: 16px ;
  display: grid;
  grid-template-columns: 15px auto;
  grid-column-gap: 5px;
  padding: 3px 7px;
  align-items: center;
  &__text{
    font-weight: 600;
    font-size: 11px;
    color: #007AFF;
  }
  &__img{
    width: 14px;
    height: 14px;
    object-fit: cover;
  }
}
@media (min-width: 320px) and (max-width: 359px) {
  .bottom-container{
    &__img{
      width: 88px;
      height: 88px;
    }
  }
  .film-title{
    font-size: 17px;
    line-height: 120%;
  }
  .films-wrap{
    &__title{
      font-size: 25px;
      line-height: 130%;
      &--screen{
        min-height: 60px;
        margin-bottom: 25px;
        max-width: 225px;
      }
    }
  }

  .buttons-group{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
    &__btn{
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(58, 58, 58, 0.5);
      border-radius: 8.41121px;
    }
    &__icon{
      fill: $white;
      &--1{
        width: 11px;
        height: 19px;
      }
      &--2{
        width: 16px;
        height: 19px;
      }
      &--3{
        width: 17px;
        height: 19px;
      }
    }
  }
  .film-title{
    margin-bottom: 15px;
  }
  .rating-wrap{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 12px;
    padding: 5px 8.5px;
    background: rgba(58, 58, 58, 0.5);
    border-radius: 30.2804px;
    margin-bottom: 6px;
    &--no-bg{
      background: transparent;
      padding: 0;
    }
  }
  .rating-block{
    &__span{
      font-size: 14px;
      line-height: 130%;
    }
    &__text{
      font-size: 12px;
      line-height: 140%;
    }
  }
  .reaction-block {
    &--2{
      display: flex;
      padding: 3px 8px;
    }
    &__img{
      width: auto;
      height: 18px;
      margin-right: 5px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .date-block{
    &__text{
      font-size: 13px;
      line-height: 130%;
    }
  }
  .subtitle-block{
    &__text{
      font-size: 13px;
      line-height: 130%;
    }
  }
  .share-open{
    font-size: 12px;
    line-height: 135%;
  }
  .share-trailer{
    font-size: 12px;
    line-height: 135%;
    &__icon{
      width: 15px;
      height: 16px;
    }
  }
  .film-except{
    &__text {
      font-size: 13px;
      line-height: 130%;
    }
    &__btn{
      font-size: 13px;
      line-height: 120%;
    }
  }
  .similar-wrap{
    &__title{
      font-size: 17px;
      line-height: 120%;
    }
  }
  .similar-container{
    width: calc(320px - 1em*2);
  }
  .similar-block{
    &__img{
      width: 65px;
      height: 65px;
    }
    &__text{
      font-size: 10px;
      line-height: 125%;
    }
  }
  .actors-wrap{
    width: calc(320px - 14px*2);
    &__title{
      margin-bottom: 15px;
      font-size: 17px;
      line-height: 120%;
    }
  }
  .actors-block{
    &__img{
      width: 68px!important;
      height: 90px!important;
      &--slider{
        width: 46px!important;
        height: 62px!important;
        filter: none;
      }
    }
    &__title{
      font-size: 11px;
      line-height: 140%;
      &--slider{
        font-size: 8px;
        line-height: 130%;
      }
    }
    &__subtitle{
      font-size: 7px;
      line-height: 130%;
      &--slider{
        font-size: 8px;
        line-height: 130%;
      }
    }
  }
  .reviews-wrap{
    width: calc(320px - 14px*2);
    &__title{
      margin-bottom: 15px;
    }
  }
  .reviews-block{
    padding: 15px 15px 10px;
    &__text{
      font-size: 11px;
      line-height: 140%;
    }
  }
  .reviews-box{
    &__img{
      width: 41px!important;
      height: 41px!important;
    }
    &__name{
      font-size: 11px;
      line-height: 140%;
    }
  }
  .results-block{
    &__img{
      width: 37px;
      height: 37px;

    }
    &__text{
      font-size: 12px;
      line-height: 16px;
    }
  }
  .results-footer-btn{
    &__icon{
      width: 15px;
      height: 17px;
    }
    &__text{
      font-size: 12px;
      line-height: 16px;
    }
  }
  .results-dropdown{
    padding: 6.5px 12px;
    &__text{
      font-size: 11px;
      line-height: 15px;
    }
    &__img{
      width: auto;
    }
  }
}