$white : #FFFFFF;
$dark-blue: #0C2137;
$blue: #007AFF;
$black : #222222;
$grey: #E0E0E0;
$green: #1D7D2C;
$red: #AF1124;
$yellow: #FF9F0A;
$text:  #0C2137;
$gradient-1: linear-gradient(92.98deg, #007AFF 0.84%, #BE95FF 106.48%);
$gradient-2: linear-gradient(315.87deg, #039CE2 1.48%, #242CF0 47.66%, #AD1CE3 72.67%, #E40B7F 100%);
h1{
  font-style: normal;
  font-weight: 700;
  font-size: 28.5981px;
  line-height: 130%;
  letter-spacing: 0.314579px;
}
h2{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 115%;
}
h3{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}
h4{
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
}